* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Popins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* Fanco  */
.cardFanco {
  position: relative;
  width: 600px;
  height: 350px;

  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.cardFanco .circleFanco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.cardFanco .circleFanco::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2e3365;
  clip-path: circle(120px at center);
  transition: 0.5s;
}

.cardFanco .circleFanco:hover:before {
  background: #161736;
  clip-path: circle(400px at center);
}

.cardFanco img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 300px;
  pointer-events: none;
  transition: 0.5s;
}

.cardFanco:hover img {
  left: 72%;
  height: 700px;
}

.cardFanco .contentFanco {
  position: relative;
  width: 50%;
  padding: 20px 20px 20px 40px;
  pointer-events: none;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.cardFanco:hover .contentFanco {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.cardFanco .contentFanco h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 5px;
}

.cardFanco .contentFanco p {
  color: #fff;
  font-size: 1em;
}

.cardFanco .contentFanco a {
  position: relative;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  color: #111;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

@media (max-width: 991px) {
  .cardFanco {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
    margin: 10px;
  }
  .cardFanco:hover {
    height: 600px;
  }
  .cardFanco .content {
    width: 100%;
    left: 0;
    padding: 30px;
  }
  .cardFanco:hover img {
    top: 70%;
    left: 50%;
    height: 300px;
  }
}

.backgroundBook {
  background-image: url("./image/backgroudBook.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
}

.contanerBook {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contanerBook .cardBook {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
}

.contanerBook .cardBook .imgBx {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  transition: 0.5s ease-in-out;
}

.contanerBook .cardBook:hover .imgBx {
  transform: translateY(-100px)
}

.contanerBook .cardBook:hover .imgBx img {
  transform: translate(20px, -40px) rotate(25deg) scale(1.4);
}

.contanerBook .cardBook .imgBx img {
  max-width: 100%;
  margin: 0 0 20px;
  transition: 0.5s ease-in-out;
}
.contanerBook .cardBook .imgBx h2 {
  color: #fff;
  font-weight: 600
}
.contanerBook .cardBook .imgBx h3 {
  color: #fff;
  /* font-weight: 600 */
}
